@import "../variables.scss";

.submitButton {
  padding: rem(15px) rem(30px);
  background-color: $color-main-blue;
  border: none;
  font-size: rem(18px);
  color: $color-white;
  border-radius: rem(4px);
  min-height: rem(55px);
  border: solid rem(1px) $color-main-blue;

  &:hover {
    cursor: pointer;
  }

  &--disabled {
    background-color: $color-main-blue-transparent;

    &:hover {
      cursor: inherit;
    }
  }

  &--secondary {
    background-color: $color-white;
    color: $color-main-blue;

    &:hover {
      background-color: $color-main-blue;
      color: $color-white;
    }
  }
}
