@import "../variables.scss";
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(30px);
  width: 100%;
  margin: 0 auto;
  @include breakpoint(desktop) {
    width: rem(568px);
  }

  &__label {
    width: 100%;
    text-align: left;
  }
}
