@import "../variables.scss";

.signup {
  width: 100%;
  padding: rem(20px) rem(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(25px);

  &__wrapper {
    background-color: $color-main-blue;
    display: flex;
    flex-direction: column;
    padding: rem(20px) rem(10px);
    justify-content: center;
    align-items: center;
    gap: rem(15px);
    border-radius: rem(4px);
    color: $color-white;
    width: 100%;
    max-width: rem(500px);
    @include breakpoint(xs) {
      gap: rem(25px);
      padding: rem(20px) rem(50px);
    }
  }

  &__header {
    font-size: rem(36px);
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: rem(15px);
    padding: rem(20px) rem(10px);
    width: 100%;
    @include breakpoint(xs) {
      gap: rem(25px);
    }
  }

  &__inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: rem(5px);
  }

  &__inputField {
    width: 100%;
    border-radius: rem(4px);
    height: rem(25px);
    color: $color-black;
    padding: rem(16px);
  }

  &__google {
    user-select: none;
    padding: rem(5px) rem(10px);
    border-radius: rem(4px);
    box-shadow: $box-shadow;
    display: flex;
    height: rem(30px);
    align-items: center;
    gap: rem(10px);

    &-logo {
      max-height: 100%;
      width: fit-content;
    }

    &:hover {
      cursor: pointer;
      background-color: $color-main-blue;
      color: $color-white;
    }
  }

  &__submit {
    border-radius: rem(4px);
    border-style: none;
    font-size: rem(22px);
    padding: rem(5px);
    color: $color-main-blue;
  }

  &__login {
    padding: rem(5px) rem(20px);
    border: none;
    border-radius: rem(4px);
    box-shadow: $box-shadow;
    background-color: $color-white;
    font-size: rem(18px);

    &:hover {
      cursor: pointer;
      background-color: $color-main-blue;
      color: $color-white;
    }
  }

  &__passwordChecker {
    font-size: rem(10px);
  }
}
