@import "../variables.scss";
.preview {
  width: 100%;
  margin: 0 auto;
  padding: rem(20px);
  border: solid rem(1px) $color-main-blue;
  border-radius: rem(4px);
  font-family: "Times New Roman", Times, serif;
  font-size: rem(16px);
  line-height: 1.5;
  color: #333;

  @include breakpoint(sm) {
    width: rem(700px);
  }

  &__retry {
    height: rem(500px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: rem(40px);
  }

  & > * {
    font-family: "Times New Roman", Times, serif;

    & > * {
      font-family: "Times New Roman", Times, serif;
    }
  }

  & > h1,
  h2,
  h3,
  h4 {
    color: #444;
    margin-bottom: 0.5em;
  }

  & > h1 {
    font-size: 2em;
  }

  & > h2 {
    font-size: 1.75em;
  }

  & > h3 {
    font-size: 1.5em;
  }

  & > h4 {
    font-size: 1.25em;
  }

  & > p {
    margin-bottom: 1em;
  }

  & > ol,
  ul {
    margin-bottom: 1em;
    padding-left: 1em;

    & > li {
      margin-bottom: 0.5em;
    }
  }
}

.preview__download {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;

  @include breakpoint(sm) {
    width: rem(700px);
  }
}
