@import "../variables.scss";

.footer {
  width: 100%;
  min-height: rem(50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: rem(20px);
  padding: rem(30px) 0;

  & > a {
    color: $color-main-blue;
  }
}
