@import "../variables.scss";

.layout {
  &__wrapper {
    width: 100%;
    height: rem(200px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: rem(10px);
  }

  &__logo {
    width: rem(600px);
    max-width: 100%;
    height: max-content;
    left: rem(10px);
    top: rem(10px);
  }

  &__nav {
    width: 100%;
    height: rem(60px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 rem(10px);
    box-sizing: border-box;

    @include breakpoint(md) {
      height: rem(85px);
      padding: 0 rem(30px);
    }

    &-logo {
      max-width: 60%;
      @include breakpoint(md) {
        max-width: 100%;
      }
    }

    &-user {
      padding: rem(10px);
      background-color: $color-main-blue;
      color: $color-white;
      border-radius: rem(4px);
      font-size: rem(16px);
      position: relative;
      @include breakpoint(xs) {
        font-size: rem(22px);
      }

      &-menu {
        position: absolute;
        top: 100%;
        right: 0;
        position: absolute;
        right: 0;
        background-color: white;
        border: 1px solid #ddd;
        padding: 10px;
        z-index: 1;

        button {
          background-color: transparent;
          border: none;
          cursor: pointer;
          color: #333;
        }
      }
    }
  }
}
