@import "../variables.scss";

.layout {
  &__wrapper {
    width: 100%;
    height: rem(200px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: rem(10px);
  }

  &__logo {
    width: rem(600px);
    max-width: 100%;
    height: max-content;
    left: rem(10px);
    top: rem(10px);
  }

  &__nav {
    width: 100%;
    height: rem(60px);
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint(md) {
      justify-content: flex-start;
      height: rem(85px);
      padding: 0 rem(30px);
    }

    &-logo {
      max-width: 100%;
    }
  }
}
