@import "../variables.scss";
.steps {
  &__wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include breakpoint(sm) {
      width: rem(500px);
    }
  }
  &__step {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: rem(10px);
  }
  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: rem(40px);
    height: rem(40px);
    border: solid rem(2px) $color-dark-grey;
    border-radius: 100%;

    &--activate {
      border-color: $color-main-blue;
    }
  }

  &__header {
    font-size: rem(18px);
    color: $color-dark-grey;

    &--activate {
      color: $color-main-blue;
    }
  }

  &__connector {
    width: rem(72px);
    height: rem(3px);
    border-radius: rem(4px);
    background-color: $color-dark-grey;
    margin-top: rem(25px);

    &--activate {
      background-color: $color-main-blue;
    }
  }
}
